body {
	background-color: #B8B8B8;
	color: grey;
}

body .btn {
	background-color: #E0E0E0;
	color: grey;
}

a {
	color: grey;
}

#main_container {
	text-align: center;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 20px;
	background-color: #F8F8F8;
}

#add_photo_button {
	padding: 3px;
}

#album_title_field, #photo_grid {
	display: inline-block;
}

/*#table_div {
	height: 812px;
	overflow: scroll;
}*/

#album_name_input {
	font-size: 35px;
	text-align: center;
}

.grid_image {
	width: 420px;
	height: 420px;
	margin: 0px 3px 3px 3px;
	border-radius: 5px;
}

.grid_cell {
	/*width: 423px;
	height: 423px;*/
	border: 1px solid black;
	vertical-align: top;
}

.btn-circle {
	border-radius: 100%;
	width: 50px;
	height: 50px;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	/*font-family: 'Alegreya SC', serif;*/
	font-size: 30pt
}

#search {
    margin: auto;
    width: 300px;
}

#search input {
	width: 300px;
}



.photoDescription {
	margin: 3px;
	width: 267px;
	font-size: 14px;
}

.photoTitle {
	background: #d7d7d7;
	padding: 2px;
	margin: 3px 3px 3px 3px;
	width: 350px;
	font-size: 20px;
	
}

.editBox {
	padding: 2px;
	margin: 3px 3px 3px 3px;
	width: 350px;
	font-size: 20px;
	text-align: center;
}

.editBoxTitle {
	font-size: 35px;
	text-align: center;
}

.editBoxDesc {
	padding: 2px;
	margin: 3px 3px 3px 3px;
	width: 417px;
	font-size: 17px;
	text-align: left;
}

.remove, .edit {
	border-radius: 10px;
	height: 26px;
	
}

.edit {
	margin-left: 2px;
}

.remove {
	margin-right: 2px;
}

.desc {
	text-align: left;
	padding: 5px;
	max-width: 420px;
}

