body {
	background-color: #B8B8B8;
	color: grey;
	background-image: url("./../images/crazy.gif");
    background-size: cover;
}

body .btn {
	background-color: #E0E0E0;
	color: grey;
}

#searchBarDiv{
	width: 600px;
	margin-top: 20%;
}


h3.centre {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


.navbar-brand {
	font-family: 'Lobster', cursive;
	/*font-family: 'Alegreya SC', serif;*/
	font-size: 30pt
}

	
