

#searchBarDiv{
	margin: 100px
}



h3.centre {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	/*font-family: 'Alegreya SC', serif;*/
	font-size: 30pt
}
	
