body {
	background-color: #B8B8B8;
	color: grey;
}

body .btn {
	background-color: #E0E0E0;
	color: grey;
}

a {
	color: grey;
}

#main_container {
	text-align: center;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 20px;
	background-color: #F8F8F8;
}

#add_photo_button {
	padding: 3px;
}

#album_title_field, #photo_grid{
	display: inline-block;
}

#table_div_album {
	display: inline-block;
	text-align: center;
}

#album_table {
	display: inline-block;
}

.scrollableportfolio {
	height:470px;
	overflow: scroll;
}

#album_name_input {
	font-size: 30px;
	text-align: center;
	border-radius: 10px;
}

#share_buttons img {
	width: 50px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}

#share_buttons {
	margin-top: 30px;
}

#export_button_div {
	margin-top: 10px;
	margin-bottom: 10px; 
}

#artist_name {
	text-align: center;
	margin-bottom: 10px;
/*	margin-left: 12px;
*/}

#bio_div, #portfolio_div, #email_div {
	padding: 1px;
	text-align: left;
}

#bio_div, #portfolio_div {
	padding: 1px;
	text-align: left;
	border-radius: 5px;
}

#bio_div {
	margin-top: 80px;
}

#email_div {
	padding: 5px;
	margin-top: 8px;
	text-align: left;
	border-radius: 5px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  font-size: 150%;
  text-align: center;
  transform: translate(-50%, 0);
}

#list-items {
	overflow: hidden;
	display:block;
	position: relative;
}


#style2 {
	margin-left: 0px;
	border: 0;
	width:100%;
	height:100%;
	background-image: url(../images/hr4.png);
	background-repeat: no-repeat;
	
}

.thumb {
  display: inline-block;
  position: relative;
}
.thumb_meta {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:5px 20px 10px 20px;
	background-color:rgba(0,0,0,0.7);
	color:#fff;
	font-size:19px;
	text-align:left;
	display:none;
	/*overflow:hidden;*/
	/*z-index:9;*/
}
.thumb:hover .thumb_meta{
	display:block;
}

#profile_container {
	margin-top: 10px;

}

#profile_pic {
	border-radius: 10px;
	width: 348px;
	height: 348px;
	margin: 5px;
}

.grid_image {
	width: 268px;
	height: 268px;
	margin: 5px;
	border-radius: 5px;

}

.grid_image, #profile_pic:hover {
	cursor: pointer;
}

.change_opacity:hover {
	opacity: 0.7;
}

.grid_cell {
	width: 270px;
	height: 270px;
	border: 10px solid rgba(0, 0, 0, 0);
	width: 278px;
	height: 278px;
	border: 1px solid black;
}

.btn-circle {
	border-radius: 100%;
	width: 50px;
	height: 50px;	
}

.large_button {
	width: 250px;
}

.modal-content{
	margin: 0 auto;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 30pt
}

.center {
	text-align: center;
}

.border {
	border : 1px solid grey;
	border-radius: 10px;
}

#search {
    margin: auto;
    width: 300px;
}

#search input {
	width: 300px;
}

.albumTitle {
	background: #d7d7d7;
	padding: 2px;
	margin: 3px 0px 0px 3px;
	width: 240px;
	font-size: 20px;
	border-radius: 5px 0px 0px 5px;
}

.remove {
	border-radius: 10px;
	height: 25.5px;
	margin-top: 3px;
}

.editButton {
	margin-left: 5px;
}

a:hover{
	cursor: pointer;
}


